Node-Red
[{"id":"382ef8da.fdc7f8","type":"tab","label":"FRANK","disabled":false,"info":""},{"id":"5bd95ece.14287","type":"function","z":"382ef8da.fdc7f8","name":"speed","func":"if (msg.payload !== 0)\n    flow.set('SPEED1', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":480,"wires":[["7aa44b19.5e3db4"]]},{"id":"5f8a8e10.6d5cb","type":"function","z":"382ef8da.fdc7f8","name":"real_interval","func":"if (msg.payload !== 0)\n    flow.set('real_interval', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":280,"wires":[["49991821.db9588","9076dbec.04dfa8"]]},{"id":"a942cf5a.78f87","type":"function","z":"382ef8da.fdc7f8","name":"veh_num","func":"if (msg.payload !== 0)\n    flow.set('NUMBER', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":400,"wires":[["7aa44b19.5e3db4"]]},{"id":"7aa44b19.5e3db4","type":"function","z":"382ef8da.fdc7f8","name":"case_interval_calaulate","func":"var f_speed = flow.get('SPEED1') || 0;\nvar f_number = flow.get('NUMBER') || 0;\nvar f_lane = flow.get(\"lane_num\") || 0;\n\nvar m_speed = context.get('local_speed') || 0;\nvar m_number = context.get('local_number') || 0;\nvar m_lane = context.get(\"local_lane\") || 0;\n\nif ((m_speed !== 0) && (m_number !== 0) && (m_lane !== 0)) {\n    var I = m_lane*14.3/6 * m_speed / m_number;\n    // 14.3/60*10 * 3 (10s 3 lanes)\n    msg.payload = I;\n    context.set('local_speed', 0);\n    context.set('local_number', 0);\n    return msg;\n}\nelse {\n    if (f_speed !== 0)\n        context.set('local_speed', f_speed);\n    if (f_number !== 0)\n        context.set('local_number', f_number);\n    if (f_lane !== 0)\n        context.set(\"local_lane\", f_lane);\n}\n\n\nflow.set('SPEED1', 0);\nflow.set('NUMBER', 0);\nflow.set(\"lane_num\", 0);","outputs":1,"noerr":0,"x":1570,"y":440,"wires":[["89280b34.a60da8"]]},{"id":"3ad23a1.93eeec6","type":"debug","z":"382ef8da.fdc7f8","name":"case_interval","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2130,"y":380,"wires":[]},{"id":"5aa68048.05027","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":1360,"y":440,"wires":[["7aa44b19.5e3db4"]]},{"id":"49991821.db9588","type":"function","z":"382ef8da.fdc7f8","name":"flag_set","func":"var f_case = flow.get('case_interval') || 0;\nvar f_real = flow.get('real_interval') || 0;\nvar f_safe = flow.get('safe_interval') || 0;\nvar f_slow = flow.get('slow_flag') || 0;\nvar f_cong = flow.get('congested') || 0;\n\nif (f_cong == 1) {\n    msg.payload = 2;\n    flow.set('congested', 0);\n    return msg;\n}\n\nvar m_case = context.get('l_caseinter') || 0;\nvar m_real = context.get('l_realinter') || 0;\nvar m_safe = context.get('l_safeinter') || 0;\nvar m_slow = context.get('l_slowflag') || 0;\n\nif ((m_case !== 0) && (m_real !== 0) && (m_safe !== 0) && (m_slow !== 0)) {\n    var flag;\n    if ((m_real > m_case) && (m_real > m_safe))\n        flag = 1; //smooth\n    else if ((m_real < m_case) && (m_real < m_safe)) {\n        if (m_slow == 1)\n            flag = 2; //congested\n        else\n            flag = 3;\n    }\n    else\n        flag = 3; //need to judge based on next two cycles\n    msg.payload = flag;\n    context.set('l_caseinter', 0);\n    context.set('l_realinter', 0);\n    context.set('l_safeinter', 0);\n    return msg;\n}\n\nelse {\n    if (f_case !== 0)\n        context.set('l_caseinter', f_case);\n    if (f_real !== 0)\n        context.set('l_realinter', f_real);\n    if (f_safe !== 0)\n        context.set('l_safeinter', f_safe);\n    if (f_slow !== 0)\n        context.set('l_slowflag', f_slow);\n}\n\n\nflow.set('case_interval', 0);\nflow.set('real_interval', 0);\nflow.set('safe_interval', 0);\nflow.set('slow_flag', 0);\nflow.set('congested', 0);","outputs":1,"noerr":0,"x":2120,"y":440,"wires":[["c48440f9.e40d1","84437725.53de28"]]},{"id":"89280b34.a60da8","type":"function","z":"382ef8da.fdc7f8","name":"case_interval","func":"flow.set('case_interval', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":440,"wires":[["49991821.db9588","3ad23a1.93eeec6"]]},{"id":"fe06a47d.71a778","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":1860,"y":380,"wires":[["49991821.db9588"]]},{"id":"e282ef16.ec12","type":"function","z":"382ef8da.fdc7f8","name":"num_veh","func":"var num = msg.payload;\nvar miCar = num % 10;\nvar Car = Math.floor((num % 100) / 10);\nvar Suv = Math.floor((num % 1000) / 100);\nvar Bus = Math.floor(num / 1000);\nvar total = miCar + Car + Suv + Bus;\nvar num_msg = {payload: total};\nvar micar_msg = {payload: miCar};\nvar car_msg = {payload: Car};\nvar suv_msg = {payload: Suv};\nvar bus_msg = {payload: Bus};\nreturn [num_msg, micar_msg, car_msg, suv_msg, bus_msg];","outputs":5,"noerr":0,"x":680,"y":700,"wires":[["24591d6f.6b85e2","743ebc81.8f3c24"],["2accda1a.14bc66"],["eee5658c.589098"],["d519e022.8b615","d85be14.cf2282"],["e1a6fbb4.d320a8","6d3281c8.7b06c"]]},{"id":"e5a7c121.a69b3","type":"function","z":"382ef8da.fdc7f8","name":"ave_speed","func":"var data = flow.get('speed') || 0;\nvar toa = context.get('total') || 0;\nvar val = context.get('num') || 0;\nif (msg.topic == 'cycle') {\n    if (val !== 0)\n        msg.payload = toa / val;\n    else\n        msg.payload = toa; //0\n    context.set('total', 0);\n    context.set('num', 0);\n    return msg;\n}\nelse {\n    var Temp = toa + data;\n    context.set('total', Temp);\n    val += 1;\n    context.set('num', val);\n}\nflow.set('speed', 0);","outputs":1,"noerr":0,"x":990,"y":500,"wires":[["5bd95ece.14287","471849f6.5fd718","969740bb.6580f","cb772340.d31da","2b5f8bc3.df5954"]]},{"id":"e4e2fd98.ca7f8","type":"function","z":"382ef8da.fdc7f8","name":"speed","func":"flow.set('speed', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["e5a7c121.a69b3"]]},{"id":"3019ecb9.5b62e4","type":"function","z":"382ef8da.fdc7f8","name":"interval","func":"flow.set('interval', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["e19c6ab2.94e9b8"]]},{"id":"e19c6ab2.94e9b8","type":"function","z":"382ef8da.fdc7f8","name":"ave_interval","func":"var data = flow.get('interval') || 0;\nvar toa = context.get('total') || 0;\nvar val = context.get('num') || 0;\nif (msg.topic == 'cycle') {\n    if (val !== 0)\n        msg.payload = toa / val;\n    else\n        msg.payload = toa; //0\n    context.set('total', 0);\n    context.set('num', 0);\n    return msg;\n}\nelse {\n    var Temp = toa + data;\n    context.set('total', Temp);\n    val += 1;\n    context.set('num', val);\n}\nflow.set('interval', 0);","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["5f8a8e10.6d5cb","ea159abf.8c9c68"]]},{"id":"5b64f441.e2e3fc","type":"inject","z":"382ef8da.fdc7f8","name":"cycle(10s)","topic":"cycle","payload":"0","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":380,"wires":[["e5a7c121.a69b3","e19c6ab2.94e9b8","24591d6f.6b85e2","d85be14.cf2282","6d3281c8.7b06c"]]},{"id":"24591d6f.6b85e2","type":"function","z":"382ef8da.fdc7f8","name":"vehicle number per cycle","func":"var vNUM = msg.payload;\nvar num = context.get('NUM') || 0;\nif (vNUM !== 0) {\n    num += vNUM;\n    context.set('NUM', num);\n}\nnum = context.get('NUM') || 0;\nif (msg.topic == 'cycle') {\n    msg.payload = num;\n    context.set('NUM', 0);\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":380,"wires":[["a942cf5a.78f87","3223596.deca8a6"]]},{"id":"20a10fb.6d826f","type":"ui_text","z":"382ef8da.fdc7f8","group":"3fbca4d.e73385c","order":1,"width":"3","height":"1","name":"","label":"total vehicle","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":660,"wires":[]},{"id":"2accda1a.14bc66","type":"function","z":"382ef8da.fdc7f8","name":"miCar number last hour","func":"var micar = msg.payload;\nvar mnum = context.get('mNUM') || 0;\nif (micar !== 0) {\n    mnum += micar;\n    context.set('mNUM', mnum);\n    msg.payload = mnum;\n    return msg;\n}\nif (msg.topic == 'cycle' || msg.topic == 'clear') {\n    context.set('mNUM', 0);\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":700,"wires":[["68d8fdfb.190734"]]},{"id":"eee5658c.589098","type":"function","z":"382ef8da.fdc7f8","name":"Car number last hour","func":"var car = msg.payload;\nvar cnum = context.get('cNUM') || 0;\nif (car !== 0) {\n    cnum += car;\n    context.set('cNUM', cnum);\n    msg.payload = cnum;\n    return msg;\n}\nif (msg.topic == 'cycle' || msg.topic == 'clear') {\n    context.set('cNUM', 0);\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":740,"wires":[["af629967.5a4a48"]]},{"id":"d519e022.8b615","type":"function","z":"382ef8da.fdc7f8","name":"Suv number last hour","func":"var suv = msg.payload;\nvar snum = context.get('sNUM') || 0;\nif (suv !== 0) {\n    snum += suv;\n    context.set('sNUM', snum);\n    msg.payload = snum;\n    return msg;\n}\nif (msg.topic == 'cycle' || msg.topic == 'clear') {\n    context.set('sNUM', 0);\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":780,"wires":[["bbda28f9.0484f8"]]},{"id":"e1a6fbb4.d320a8","type":"function","z":"382ef8da.fdc7f8","name":"Bus number last hour","func":"var bus = msg.payload;\nvar bnum = context.get('bNUM') || 0;\nif (bus !== 0) {\n    bnum += bus;\n    context.set('bNUM', bnum);\n    msg.payload = bnum;\n    return msg;\n}\nif (msg.topic == 'cycle' || msg.topic == 'clear') {\n    context.set('bNUM', 0);\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":820,"wires":[["32d0fc4d.9dbe44"]]},{"id":"743ebc81.8f3c24","type":"function","z":"382ef8da.fdc7f8","name":"total vehicle last hour","func":"var veh = msg.payload;\nvar vnum = context.get('vNUM') || 0;\nif (veh !== 0) {\n    vnum += veh;\n    context.set('vNUM', vnum);\n    msg.payload = vnum;\n    return msg;\n}\nif (msg.topic == 'cycle' || msg.topic == 'clear') {\n    context.set('vNUM', 0);\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":660,"wires":[["20a10fb.6d826f"]]},{"id":"68d8fdfb.190734","type":"ui_text","z":"382ef8da.fdc7f8","group":"3fbca4d.e73385c","order":2,"width":"3","height":"1","name":"","label":"mini car","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":700,"wires":[]},{"id":"af629967.5a4a48","type":"ui_text","z":"382ef8da.fdc7f8","group":"3fbca4d.e73385c","order":3,"width":"3","height":"1","name":"","label":"car","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":740,"wires":[]},{"id":"bbda28f9.0484f8","type":"ui_text","z":"382ef8da.fdc7f8","group":"3fbca4d.e73385c","order":4,"width":"3","height":"1","name":"","label":"suv/pickup","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":780,"wires":[]},{"id":"32d0fc4d.9dbe44","type":"ui_text","z":"382ef8da.fdc7f8","group":"3fbca4d.e73385c","order":5,"width":"3","height":"1","name":"","label":"bus/truck","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":820,"wires":[]},{"id":"f7bf68fd.743218","type":"inject","z":"382ef8da.fdc7f8","name":"cycle(1h)","topic":"cycle","payload":"0","payloadType":"num","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":820,"wires":[["743ebc81.8f3c24","2accda1a.14bc66","eee5658c.589098","d519e022.8b615","e1a6fbb4.d320a8"]]},{"id":"9076dbec.04dfa8","type":"debug","z":"382ef8da.fdc7f8","name":"interval","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2080,"y":280,"wires":[]},{"id":"87288c31.b17ba","type":"function","z":"382ef8da.fdc7f8","name":"safe_interval","func":"var f_heavy = flow.get(\"heavy\") || 0;\nvar f_speed = flow.get(\"SPEED2\") || 0;\nvar f_wea = flow.get(\"weather\") || 0;\n\nvar m_heavy = context.get(\"local_heavy\") || 0;\nvar m_speed = context.get(\"local_speed\") || 0;\nvar m_wea = context.get(\"local_weather\") || 0;\n\nif ((m_speed !== 0) && (m_wea !== 0) && (m_heavy !== 0)) {\n    var response_time = 2;\n    if (m_heavy == 1)\n        response_time = 4;\n    else if (m_heavy == 2)\n        response_time = 3;\n    \n    if (m_wea == 2)\n        response_time *= 2;\n        \n    var interval = m_speed * response_time;\n    msg.payload = interval;\n    context.set(\"local_speed\", 0);\n    context.set(\"local_weather\", 0);\n    context.set(\"local_heavy\", 0);\n    return msg;\n}\nelse {\n    if (f_speed !== 0)\n        context.set(\"local_speed\", f_speed);\n    if (f_wea !== 0)\n        context.set(\"local_weather\", f_wea);\n    if (f_heavy !== 0)\n        context.set(\"local_heavy\", f_heavy);\n}\n\nflow.set(\"SPEED2\", 0);\nflow.set(\"weather\", 0);\nflow.set(\"heavy\", 0);\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1730,"y":580,"wires":[["f797192b.2fbed8","17d96b64.c09765"]]},{"id":"83436417.d08968","type":"function","z":"382ef8da.fdc7f8","name":"slow_flag","func":"var speed_mms = flow.get(\"SPEED3\");\nvar speed_kmh = 3.6*50*speed_mms/1000;\nvar flag;\nif (speed_kmh <= 10)\n    flag = 1; //slow\nelse\n    flag = 2; //not slow\nmsg.payload = flag;\nflow.set(\"SPEED3\", 0);\nflow.set(\"slow_flag\", flag);\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":500,"wires":[["49991821.db9588"]]},{"id":"d85be14.cf2282","type":"function","z":"382ef8da.fdc7f8","name":"SUV_NUM","func":"var vNUM = msg.payload;\nvar num = context.get('SUV_NUM') || 0;\nif (vNUM !== 0) {\n    num += vNUM;\n    context.set('SUV_NUM', num);\n}\nnum = context.get('SUV_NUM') || 0;\nif (msg.topic == 'cycle') {\n    msg.payload = num;\n    context.set('SUV_NUM', 0);\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":580,"wires":[["68a47210.be568c"]]},{"id":"6d3281c8.7b06c","type":"function","z":"382ef8da.fdc7f8","name":"BUS_NUM","func":"var vNUM = msg.payload;\nvar num = context.get('BUS_NUM') || 0;\nif (vNUM !== 0) {\n    num += vNUM;\n    context.set('NBUS_UM', num);\n}\nnum = context.get('BUS_NUM') || 0;\nif (msg.topic == 'cycle') {\n    msg.payload = num;\n    context.set('BUS_NUM', 0);\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":620,"wires":[["e7f85fc4.f5652"]]},{"id":"68a47210.be568c","type":"function","z":"382ef8da.fdc7f8","name":"suv_num","func":"if (msg.payload === 0)\n    flow.set(\"suv_num\", 9999);\nelse\n    flow.set(\"suv_num\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":580,"wires":[["4fc74d70.68e304"]]},{"id":"e7f85fc4.f5652","type":"function","z":"382ef8da.fdc7f8","name":"bus_num","func":"if (msg.payload === 0)\n    flow.set(\"bus_num\", 9999);\nelse\n    flow.set(\"bus_num\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":620,"wires":[["4fc74d70.68e304"]]},{"id":"97d66231.7c3a8","type":"function","z":"382ef8da.fdc7f8","name":"weather","func":"flow.set(\"weather\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":920,"wires":[["87288c31.b17ba","33269fba.85266"]]},{"id":"d5d8abee.6fe568","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":1180,"y":540,"wires":[["4fc74d70.68e304"]]},{"id":"2dc3cfac.3b827","type":"function","z":"382ef8da.fdc7f8","name":"heavy_flag","func":"flow.set(\"heavy\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":580,"wires":[["87288c31.b17ba"]]},{"id":"4fc74d70.68e304","type":"function","z":"382ef8da.fdc7f8","name":"heavy_judge","func":"var f_bus = flow.get(\"bus_num\") || 0;\nvar f_suv = flow.get(\"suv_num\") || 0;\n\nvar m_lastbus = context.get(\"local_lastbus\") || 0;\nvar m_thisbus = context.get(\"local_thisbus\") || 0;\nvar m_lastsuv = context.get(\"local_lastsuv\") || 0;\nvar m_thissuv = context.get(\"local_thissuv\") || 0;\nvar m_flag = context.get(\"FLAG\") || false;\nvar suv_flag = context.get(\"suv\") || false;\nvar bus_flag = context.get(\"bus\") || false;\n\nif (m_flag === true) {\n    context.set(\"FLAG\", false);\n    context.set(\"suv\", false);\n    context.set(\"bus\", false);\n    var flag_heavy = 0;\n    if ((m_thisbus !== 0) || (m_lastbus !== 0)) \n        flag_heavy = 1;\n    else if ((m_thissuv !== 0) || (m_lastsuv !== 0))\n        flag_heavy = 2;\n    else\n        flag_heavy = 3;\n\n    msg.payload = flag_heavy;\n    return msg;\n}\nelse {\n    if (f_bus !== 0) {\n        if (f_bus == 9999)\n            context.set(\"local_thisbus\", 0);\n        else\n            context.set(\"local_thisbus\", f_bus);\n        context.set(\"local_lastbus\", m_thisbus);\n        context.set(\"bus\", true);\n    }\n    if (f_suv !== 0) {\n        if (f_suv == 9999)\n            context.set(\"local_thissuv\", 0);\n        else\n            context.set(\"local_thissuv\", f_suv);\n        context.set(\"local_lastsuv\", m_thissuv);\n        context.set(\"suv\", true);\n    }\n    if ((suv_flag === true) && (bus_flag === true))\n        context.set(\"FLAG\", true);\n}\nflow.set(\"bus_num\", 0);\nflow.set(\"suv_num\", 0);\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1350,"y":580,"wires":[["2dc3cfac.3b827"]]},{"id":"f797192b.2fbed8","type":"function","z":"382ef8da.fdc7f8","name":"safe_interval","func":"flow.set('safe_interval', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":540,"wires":[["49991821.db9588"]]},{"id":"c48440f9.e40d1","type":"function","z":"382ef8da.fdc7f8","name":"congestion_flag","func":"flow.set('cong_flag', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":440,"wires":[["aff0d534.8a8338","18e6823b.8329be"]]},{"id":"6316b0a0.a8cae","type":"function","z":"382ef8da.fdc7f8","name":"peak","func":"flow.set(\"peak\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":2390,"y":660,"wires":[["aff0d534.8a8338"]]},{"id":"e05d8015.da15b","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"Congested","strict":0,"x":1620,"y":220,"wires":[["6f3e3678.514008"]]},{"id":"6f3e3678.514008","type":"function","z":"382ef8da.fdc7f8","name":"congested","func":"flow.set('congested', msg.payload.data);\n// flow.set('congested', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":220,"wires":[["49991821.db9588"]]},{"id":"5ad3c3ac.0590fc","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":2380,"y":580,"wires":[["aff0d534.8a8338"]]},{"id":"aff0d534.8a8338","type":"function","z":"382ef8da.fdc7f8","name":"road_behaviour","func":"var f_cong = flow.get('cong_flag') || 0;\nvar f_peak = flow.get('peak') || 0;\nvar f_climate = flow.get('climate') || 0;\n\nvar m_cong = context.get('local_cong') || 0;\nvar m_peak = context.get('local_peak') || 0;\nvar m_climate = context.get('local_climate') || 0;\nvar m_flag = context.get('observe') || 0;\n\nif ((m_cong !== 0) && (m_peak !== 0) && (m_climate !== 0)) {\n    var climate_signal = m_climate;\n    var road_signal = 0;\n    if (m_cong == 1) { //road smooth\n        if (m_flag !== 0)\n            m_flag = 5; //the congestion may occur in last one or more cycles\n        else \n            road_signal = 0;\n    }\n    else if (m_cong == 2) { //road congested\n        if (m_flag !== 0)\n            m_flag = 5; //the congestion may occur in last one or more cycles\n        else {    \n            road_signal = 5\n        }\n    }\n    else if (m_cong == 3) {\n        if (m_flag == 2) { \n            m_flag = 0;\n            if (m_climate == 1)\n                road_signal = 3; //congestion but good weather\n            else \n                road_signal = 4; //congestion and bad weather\n        }\n        else {\n            m_flag += 1;\n            context.set('observe', m_flag);\n            context.set('local_cong', 0);\n        }\n    }\n    \n    if ((m_flag === 0) || (m_flag == 5)) {\n        if (m_flag == 5) {\n            if ((m_climate == 1) && (m_peak == 2))  //good weather and off-peak\n                road_signal = 1;\n            if ((m_climate == 2) && (m_peak == 2))  //bad weather but off-peak\n                road_signal = 2;\n            if ((m_climate == 1) && (m_peak == 1))  //good weather but peak\n                road_signal = 3;\n            if ((m_climate == 2) && (m_peak == 1))  //bad weather and peak\n                road_signal = 4;\n        }\n        context.set('local_cong', 0);\n        context.set('local_peak', 0);\n        context.set('observe', 0);\n        msg.payload = road_signal * 10 + climate_signal;\n        return msg;\n    }\n}\n\nelse {\n    if (f_cong !== 0)\n        context.set('local_cong', f_cong);\n    if (f_climate !== 0)\n        context.set('local_climate', f_climate);\n    if (f_peak !== 0)\n        context.set('local_peak', f_peak);\n}\n\nflow.set('cong_flag', 0);\nflow.set('peak', 0);\nflow.set('climate', 0);\n\n\n","outputs":1,"noerr":0,"x":2620,"y":580,"wires":[["37c1b631.745ffa"]]},{"id":"e1913be0.c7e5b8","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"end1","label":"To","tooltip":"","group":"be09935.f1f3f7","order":7,"width":"2","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":2290,"y":1140,"wires":[["acfbdb0c.62d2f8"]]},{"id":"c8ae601.77e3da","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"start1","label":"From","tooltip":"","group":"be09935.f1f3f7","order":6,"width":"2","height":"1","passthru":false,"mode":"time","delay":"0","topic":"text","x":2290,"y":1100,"wires":[["750ac97c.592b48"]]},{"id":"ecb5a003.6f613","type":"switch","z":"382ef8da.fdc7f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1910,"y":1260,"wires":[["180837f1.55fb68","9bdaebfc.94dc88"],["7bc2cb1f.828a94","d6516b0b.6abdf8"],["4974b656.3381c8","1ec896a7.6798a9"],["d0ec58c.21aa0a8"],["f3459dc1.14487"]]},{"id":"180837f1.55fb68","type":"function","z":"382ef8da.fdc7f8","name":"enab1","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1100,"wires":[["c8ae601.77e3da","e1913be0.c7e5b8"]]},{"id":"7bc2cb1f.828a94","type":"function","z":"382ef8da.fdc7f8","name":"enab2","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1180,"wires":[["c8ae601.77e3da","e1913be0.c7e5b8","2120576.c26fba8","f184af86.74125"]]},{"id":"4974b656.3381c8","type":"function","z":"382ef8da.fdc7f8","name":"enab3","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1260,"wires":[["c8ae601.77e3da","e1913be0.c7e5b8","2120576.c26fba8","f184af86.74125","2a36ef55.5ac2c","8266d6e4.5da4d8"]]},{"id":"f184af86.74125","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"end2","label":"To","tooltip":"","group":"be09935.f1f3f7","order":11,"width":"2","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":2290,"y":1220,"wires":[["53fb8af8.f8b184"]]},{"id":"2120576.c26fba8","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"start2","label":"From","tooltip":"","group":"be09935.f1f3f7","order":10,"width":"2","height":"1","passthru":false,"mode":"time","delay":"0","topic":"text","x":2290,"y":1180,"wires":[["832610b6.2bb61"]]},{"id":"8266d6e4.5da4d8","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"end3","label":"To","tooltip":"","group":"be09935.f1f3f7","order":14,"width":"2","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":2290,"y":1300,"wires":[["916c542b.ace8c8"]]},{"id":"2a36ef55.5ac2c","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"start3","label":"From","tooltip":"","group":"be09935.f1f3f7","order":13,"width":"2","height":"1","passthru":false,"mode":"time","delay":"0","topic":"text","x":2290,"y":1260,"wires":[["d708b60f.d37fb8"]]},{"id":"ade9ac0b.c5998","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"end4","label":"To","tooltip":"","group":"be09935.f1f3f7","order":18,"width":"2","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":2290,"y":1380,"wires":[["3b864c6e.afe884"]]},{"id":"c82b2ea0.2030d","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"start4","label":"From","tooltip":"","group":"be09935.f1f3f7","order":17,"width":"2","height":"1","passthru":false,"mode":"time","delay":"0","topic":"text","x":2290,"y":1340,"wires":[["9c1fa9b5.5ab158"]]},{"id":"9bdaebfc.94dc88","type":"function","z":"382ef8da.fdc7f8","name":"disab1","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1140,"wires":[["2120576.c26fba8","f184af86.74125","2a36ef55.5ac2c","8266d6e4.5da4d8","c82b2ea0.2030d","ade9ac0b.c5998"]]},{"id":"d6516b0b.6abdf8","type":"function","z":"382ef8da.fdc7f8","name":"disab2","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1220,"wires":[["2a36ef55.5ac2c","8266d6e4.5da4d8","c82b2ea0.2030d","ade9ac0b.c5998"]]},{"id":"1ec896a7.6798a9","type":"function","z":"382ef8da.fdc7f8","name":"disab3","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1300,"wires":[["c82b2ea0.2030d","ade9ac0b.c5998"]]},{"id":"d0ec58c.21aa0a8","type":"function","z":"382ef8da.fdc7f8","name":"enab4","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1340,"wires":[["c8ae601.77e3da","e1913be0.c7e5b8","2120576.c26fba8","f184af86.74125","2a36ef55.5ac2c","8266d6e4.5da4d8","c82b2ea0.2030d","ade9ac0b.c5998"]]},{"id":"f3459dc1.14487","type":"function","z":"382ef8da.fdc7f8","name":"disab4","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1380,"wires":[["c8ae601.77e3da","e1913be0.c7e5b8","2120576.c26fba8","f184af86.74125","8266d6e4.5da4d8","c82b2ea0.2030d","ade9ac0b.c5998","2a36ef55.5ac2c"]]},{"id":"563adb51.8dbd24","type":"ui_numeric","z":"382ef8da.fdc7f8","name":"","label":"peak number","tooltip":"","group":"be09935.f1f3f7","order":4,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"4","step":1,"x":1690,"y":1260,"wires":[["ecb5a003.6f613","2005960f.334e3a"]]},{"id":"971b566e.a8b3e8","type":"ui_button","z":"382ef8da.fdc7f8","name":"","group":"be09935.f1f3f7","order":20,"width":"2","height":"1","passthru":false,"label":"reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"reset","x":1650,"y":1480,"wires":[["5ff6e07e.47812","3f0ef3b1.46755c","98e15710.723918","e5225003.bb8fd","ceadd021.4f1b1","8009170b.3a2528","730f242b.3a84dc","e57b6ce7.fc53a","5d017f09.1510c","18e6823b.8329be","6b40f47d.17c0ac","82821fa6.da739"]]},{"id":"5ff6e07e.47812","type":"function","z":"382ef8da.fdc7f8","name":"resetnumber","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":1360,"wires":[["563adb51.8dbd24"]]},{"id":"750ac97c.592b48","type":"function","z":"382ef8da.fdc7f8","name":"peakfrom","func":"var temp = context.get('num') || 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peakfromA', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0)\n    context.set('num', msg.payload);","outputs":1,"noerr":0,"x":2480,"y":1100,"wires":[["fd70a6b5.d4b0a8"]]},{"id":"acfbdb0c.62d2f8","type":"function","z":"382ef8da.fdc7f8","name":"peakto","func":"var temp = context.get('num') || 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peaktoA', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0)\n    context.set('num', msg.payload);","outputs":1,"noerr":0,"x":2470,"y":1140,"wires":[["fd70a6b5.d4b0a8"]]},{"id":"832610b6.2bb61","type":"function","z":"382ef8da.fdc7f8","name":"peakfrom","func":"var temp = context.get('num') || 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peakfromB', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2480,"y":1180,"wires":[["ebfa7fe9.f6313"]]},{"id":"53fb8af8.f8b184","type":"function","z":"382ef8da.fdc7f8","name":"peakto","func":"var temp = context.get('num') || 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peaktoB', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2470,"y":1220,"wires":[["ebfa7fe9.f6313"]]},{"id":"d708b60f.d37fb8","type":"function","z":"382ef8da.fdc7f8","name":"peakfrom","func":"var temp = context.get('num')|| 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peakfromC', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2480,"y":1260,"wires":[["ff6e9df4.7ff7b"]]},{"id":"916c542b.ace8c8","type":"function","z":"382ef8da.fdc7f8","name":"peakto","func":"var temp = context.get('num')|| 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peaktoC', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2470,"y":1300,"wires":[["ff6e9df4.7ff7b"]]},{"id":"9c1fa9b5.5ab158","type":"function","z":"382ef8da.fdc7f8","name":"peakfrom","func":"var temp = context.get('num')|| 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peakfromD', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2480,"y":1340,"wires":[["1822dfc9.f1f86"]]},{"id":"3b864c6e.afe884","type":"function","z":"382ef8da.fdc7f8","name":"peakto","func":"var temp = context.get('num')|| 0;\nif (msg.topic == \"apply\"){\n    if (temp !== 0) {\n        temp = temp / 1000;\n        var hour = Math.floor(temp / 3600);\n        var minute = Math.floor((temp % 3600) / 60);\n        msg.payload = hour + minute / 100;\n    }\n    flow.set('peaktoD', msg.payload);\n    return msg;\n}\nelse if (msg.payload !== 0){\n    context.set('num', msg.payload);\n}","outputs":1,"noerr":0,"x":2470,"y":1380,"wires":[["1822dfc9.f1f86"]]},{"id":"fd70a6b5.d4b0a8","type":"function","z":"382ef8da.fdc7f8","name":"judge1","func":"var time = flow.get('currentA') || 0;\nvar peakF = flow.get('peakfromA') || 0;\nvar peakT = flow.get('peaktoA') || 0;\n\nvar PEAKF = context.get('PEAKFROM') || 0;\nvar PEAKT = context.get('PEAKTO') || 0;\n\nif (time !== 0 && PEAKF !== 0 && PEAKT !== 0) {\n    if (time < PEAKT && time > PEAKF)\n        msg.payload = 1; //peak\n    else if (time > PEAKT || time < PEAKF)\n        msg.payload = 2; //off-peak\n    flow.set('currentA', 0);\n    flow.set('peakfromA', 0);\n    flow.set('peaktoA', 0);\n    flow.set('JudA', msg.payload);\n    return msg;\n}\nelse {\n    if (peakF !== 0)\n        context.set('PEAKFROM', peakF);\n    if (peakT !== 0)\n        context.set('PEAKTO', peakT);\n}\n\nflow.set('curentA', 0);\nflow.set('peakfromA', 0);\nflow.set('peaktoA', 0);","outputs":1,"noerr":0,"x":2650,"y":1120,"wires":[["3f0ef3b1.46755c"]]},{"id":"6981d81.d690128","type":"inject","z":"382ef8da.fdc7f8","name":"time","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2650,"y":1080,"wires":[["3c931f1.40252e"]]},{"id":"3c931f1.40252e","type":"function","z":"382ef8da.fdc7f8","name":"current","func":"var temp = Math.floor((msg.payload) / 1000);\nvar current = temp % (3600 * 24);\nvar hour = Math.floor(current / 3600) + 1;\nvar minute = Math.floor((temp % 3600) / 60);\nmsg.payload = hour + minute / 100;\nflow.set('currentA', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1080,"wires":[["fd70a6b5.d4b0a8"]]},{"id":"ff6e9df4.7ff7b","type":"function","z":"382ef8da.fdc7f8","name":"judge3","func":"var time = flow.get('currentC') || 0;\nvar peakF = flow.get('peakfromC') || 0;\nvar peakT = flow.get('peaktoC') || 0;\n\nvar PEAKF = context.get('PEAKFROM') || 0;\nvar PEAKT = context.get('PEAKTO') || 0;\n\nif (time !== 0 && PEAKF !== 0 && PEAKT !== 0) {\n    if (time < PEAKT && time > PEAKF) \n        msg.payload = 1; //peak\n    else if (time > PEAKT || time < PEAKF)\n        msg.payload = 2; //off peak\n    flow.set('currentC', 0);\n    flow.set('peakfromC', 0);\n    flow.set('peaktoC', 0);\n    flow.set('JudC', msg.payload);\n    return msg;\n}\nelse {\n    if (peakF !== 0)\n        context.set('PEAKFROM', peakF);\n    if (peakT !== 0)\n        context.set('PEAKTO', peakT);\n}\n\nflow.set('currentC', 0);\nflow.set('peakfromC', 0);\nflow.set('peaktoC', 0);","outputs":1,"noerr":0,"x":2650,"y":1280,"wires":[["3f0ef3b1.46755c"]]},{"id":"1822dfc9.f1f86","type":"function","z":"382ef8da.fdc7f8","name":"judge4","func":"var time = flow.get('currentD') || 0;\nvar peakF = flow.get('peakfromD') || 0;\nvar peakT = flow.get('peaktoD') || 0;\n\nvar PEAKF = context.get('PEAKFROM') || 0;\nvar PEAKT = context.get('PEAKTO') || 0;\n\nif (time !== 0 && PEAKF !== 0 && PEAKT !== 0) {\n    if (time < PEAKT && time > PEAKF)\n        msg.payload = 1; //peak\n    else if (time > PEAKT || time < PEAKF)\n        msg.payload = 2; //off-peak\n    flow.set('currentD', 0);\n    flow.set('peakfromD', 0);\n    flow.set('peaktoD', 0);\n    flow.set('JudD', msg.payload);\n    return msg;\n}\nelse {\n    if (peakF !== 0)\n        context.set('PEAKFROM', peakF);\n    if (peakT !== 0)\n        context.set('PEAKTO', peakT);\n}\n\nflow.set('currentD', 0);\nflow.set('peakfromD', 0);\nflow.set('peaktoD', 0);","outputs":1,"noerr":0,"x":2650,"y":1360,"wires":[["3f0ef3b1.46755c"]]},{"id":"3f0ef3b1.46755c","type":"function","z":"382ef8da.fdc7f8","name":"judge_peak (1 peak, 2 off peak)","func":"var NumP = flow.get('num_peak') || 0;\nvar JuA = flow.get('JudA') || 0;\nvar JuB = flow.get('JudB') || 0;\nvar JuC = flow.get('JudC') || 0;\nvar JuD = flow.get('JudD') || 0;\n\nif (msg.topic == 'reset') {\n    context.set('NUMP', 0);\n    context.set('judA', 0);\n    context.set('judB', 0);\n    context.set('judC', 0);\n    context.set('judD', 0);\n}\nelse {\n    if (NumP !== 0)\n        context.set('NUMP', NumP);\n    if (JuA !== 0)\n        context.set('judA', JuA);\n    if (JuB !== 0)\n        context.set('judB', JuB);\n    if (JuC !== 0)\n        context.set('judC', JuC);\n    if (JuD !== 0)\n        context.set('judD', JuD);\n}\n\nvar num = context.get('NUMP') || 0;\nvar juA = context.get('judA') || 0;\nvar juB = context.get('judB') || 0;\nvar juC = context.get('judC') || 0;\nvar juD = context.get('judD') || 0;\n\nif (num == 1 && juA !== 0) {\n    if (juA == 1)\n        msg.payload = 1;\n    else\n        msg.payload = 2;\n    flow.set('JudA', 0);\n    flow.set('JudB', 0);\n    flow.set('JudC', 0);\n    flow.set('JudD', 0);\n    flow.set('num_peak', 0);\n    return msg;\n}\nelse if (num == 2 && juA !== 0 && juB !== 0) {\n    if (JuA == 1)\n        msg.payload = 1;\n    else\n        msg.payload = 2;\n    flow.set('JudA', 0);\n    flow.set('JudB', 0);\n    flow.set('JudC', 0);\n    flow.set('JudD', 0);\n    flow.set('num_peak', 0);\n    return msg;\n}\nelse if (num == 3 && juA !== 0 && juB !== 0 && juC !== 0) {\n    if (juA == 1 && juB == 1 && juC == 1)\n        msg.payload = 1;\n    else\n        msg.payload = 2;\n    flow.set('JudA', 0);\n    flow.set('JudB', 0);\n    flow.set('JudC', 0);\n    flow.set('JudD', 0);\n    flow.set('num_peak', 0);\n    return msg;\n}\nelse if (num == 4 && juA !== 0 && juB !== 0 && juC !== 0 && juD !== 0) {\n    if (juA == 1 && juB == 1 && juC == 1 && juD == 1)\n        msg.payload = 1;\n    else\n        msg.payload = 2;\n    flow.set('JudA', 0);\n    flow.set('JudB', 0);\n    flow.set('JudC', 0);\n    flow.set('JudD', 0);\n    flow.set('num_peak', 0);\n    return msg;\n}\n\n\nflow.set('JudA', 0);\nflow.set('JudB', 0);\nflow.set('JudC', 0);\nflow.set('JudD', 0);\nflow.set('num_peak', 0);","outputs":1,"noerr":0,"x":2910,"y":1400,"wires":[["6316b0a0.a8cae","148cc68d.e68689","417617c1.cadd58","175a4425.c09a2c"]]},{"id":"2005960f.334e3a","type":"function","z":"382ef8da.fdc7f8","name":"num_peak","func":"var num = context.get('NUM') || 0;\nif (msg.topic == 'apply') {\n    if (num !== 0) {\n        msg.payload = num;\n        flow.set('num_peak', num);\n        return msg;\n    }\n}\nelse if (msg.payload !== 0) \n    context.set('NUM', msg.payload);","outputs":1,"noerr":0,"x":2490,"y":1420,"wires":[["3f0ef3b1.46755c"]]},{"id":"ebfa7fe9.f6313","type":"function","z":"382ef8da.fdc7f8","name":"judge2","func":"var time = flow.get('currentB') || 0;\nvar peakF = flow.get('peakfromB') || 0;\nvar peakT = flow.get('peaktoB') || 0;\n\nvar PEAKF = context.get('PEAKFROM') || 0;\nvar PEAKT = context.get('PEAKTO') || 0;\n\nif (time !== 0 && PEAKF !== 0 && PEAKT !== 0) {\n    if (time < PEAKT && time > PEAKF)\n        msg.payload = 1; //peak\n    else if (time > PEAKT || time < PEAKF)\n        msg.payload = 2; //off-peak\n    flow.set('curentB', 0);\n    flow.set('peakfromB', 0);\n    flow.set('peaktoB', 0);\n    flow.set('JudB', msg.payload);\n    return msg;\n}\nelse {\n    if (peakF !== 0)\n        context.set('PEAKFROM', peakF);\n    if (peakT !== 0)\n        context.set('PEAKTO', peakT);\n}\n\nflow.set('currentB', 0);\nflow.set('peakfromB', 0);\nflow.set('peaktoB', 0);","outputs":1,"noerr":0,"x":2650,"y":1200,"wires":[["3f0ef3b1.46755c"]]},{"id":"6f5bb749.d91b18","type":"inject","z":"382ef8da.fdc7f8","name":"time","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2650,"y":1160,"wires":[["aa71e85d.f65378"]]},{"id":"aa71e85d.f65378","type":"function","z":"382ef8da.fdc7f8","name":"current","func":"var temp = Math.floor((msg.payload) / 1000);\nvar current = temp % (3600 * 24);\nvar hour = Math.floor(current / 3600) + 1;\nvar minute = Math.floor((temp % 3600) / 60);\nmsg.payload = hour + minute / 100;\nflow.set('currentB', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1160,"wires":[["ebfa7fe9.f6313"]]},{"id":"16eaf3a8.6ab11c","type":"inject","z":"382ef8da.fdc7f8","name":"time","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2650,"y":1240,"wires":[["45a11bf3.2f1b64"]]},{"id":"45a11bf3.2f1b64","type":"function","z":"382ef8da.fdc7f8","name":"current","func":"var temp = Math.floor((msg.payload) / 1000);\nvar current = temp % (3600 * 24);\nvar hour = Math.floor(current / 3600) + 1;\nvar minute = Math.floor((temp % 3600) / 60);\nmsg.payload = hour + minute / 100;\nflow.set('currentC', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1240,"wires":[["ff6e9df4.7ff7b"]]},{"id":"15338a8d.db6345","type":"inject","z":"382ef8da.fdc7f8","name":"time","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2650,"y":1320,"wires":[["a57dd1ec.3953e"]]},{"id":"a57dd1ec.3953e","type":"function","z":"382ef8da.fdc7f8","name":"current","func":"var temp = Math.floor((msg.payload) / 1000);\nvar current = temp % (3600 * 24);\nvar hour = Math.floor(current / 3600) + 1;\nvar minute = Math.floor((temp % 3600) / 60);\nmsg.payload = hour + minute / 100;\nflow.set('currentD', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1320,"wires":[["1822dfc9.f1f86"]]},{"id":"ee3880bc.fecf2","type":"ui_button","z":"382ef8da.fdc7f8","name":"","group":"be09935.f1f3f7","order":19,"width":"2","height":"1","passthru":false,"label":"apply","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"apply","x":2290,"y":1420,"wires":[["750ac97c.592b48","acfbdb0c.62d2f8","832610b6.2bb61","53fb8af8.f8b184","d708b60f.d37fb8","916c542b.ace8c8","9c1fa9b5.5ab158","3b864c6e.afe884","2005960f.334e3a","b6978278.e38b5","38768411.85214c","5d017f09.1510c"]]},{"id":"910a3078.970df","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"CLIMATE","strict":0,"x":280,"y":1560,"wires":[["47b34301.4c0bfc"]]},{"id":"908a399b.8ed948","type":"function","z":"382ef8da.fdc7f8","name":"road_temp","func":"var temp = msg.payload;\nflow.set('road_temp', temp);\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1400,"wires":[["2e5ecd8b.665c02","29a1f692.14396a"]]},{"id":"13013225.ef750e","type":"function","z":"382ef8da.fdc7f8","name":"road_humi","func":"var humi = msg.payload;\nflow.set('road_humi', humi);\nmsg.payload = humi;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1440,"wires":[["a0a5ad25.72b32","4bf0e75f.ad3458"]]},{"id":"19c7905.2cca77","type":"function","z":"382ef8da.fdc7f8","name":"road_press","func":"var pres = msg.payload;\nflow.set('road_pres', pres);\nmsg.payload = pres;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1480,"wires":[["4bb14866.b5c8a8","53ae7e64.ab0ea"]]},{"id":"1550eb36.9ad4e5","type":"inject","z":"382ef8da.fdc7f8","name":"cycle(5s)","topic":"cycle","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":1240,"wires":[["c4ca55cb.c95328"]]},{"id":"6e089533.e2661c","type":"function","z":"382ef8da.fdc7f8","name":"city_temp","func":"flow.set('city_temp', msg.payload.tempc);\nvar temp = msg.payload.tempc;\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1240,"wires":[["2e5ecd8b.665c02","b09b5751.dae948"]]},{"id":"12c98f5.e889e71","type":"function","z":"382ef8da.fdc7f8","name":"city_humi","func":"flow.set('city_humi', msg.payload.humidity);\nvar humi = msg.payload.humidity;\nmsg.payload = humi;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1280,"wires":[["a0a5ad25.72b32","2b1a4f91.3313d"]]},{"id":"799d502d.f937a","type":"function","z":"382ef8da.fdc7f8","name":"city_pres","func":"flow.set('city_pres', msg.payload.pressure);\nvar pres = msg.payload.pressure;\nmsg.payload = pres;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1320,"wires":[["4bb14866.b5c8a8","31a98b55.201324"]]},{"id":"4bb14866.b5c8a8","type":"function","z":"382ef8da.fdc7f8","name":"pres_compare","func":"var f_cpres = flow.get('city_pres') || 0;\nvar f_rpres = flow.get('road_pres') || 0;\n\nvar m_cpres = context.get('m_city_pres') || 0;\nvar m_rpres = context.get('m_road_pres') || 0;\n\nif ((m_cpres !== 0) && (m_rpres !== 0)) {\n    var upper = m_cpres * 1.2;\n    var lower = m_cpres * 0.8;\n    if ((m_rpres >= lower) && (m_rpres <= upper))\n        msg.payload = 1;  // same with whole city\n    else\n        msg.payload = 2;  // not same with whole city\n    context.set('m_road_pres', 0);\n    flow.set('city_pres', 0);\n    flow.set('road_pres', 0);\n    return msg;\n}\nelse {\n    if (f_cpres !== 0)\n        context.set('m_city_pres', f_cpres);\n    if (f_rpres !== 0)\n        context.set('m_road_pres', f_rpres);    \n}\n\n\nflow.set('city_pres', 0);\nflow.set('road_pres', 0);","outputs":1,"noerr":0,"x":1140,"y":1400,"wires":[["ac12daaa.1f35b8"]]},{"id":"a0a5ad25.72b32","type":"function","z":"382ef8da.fdc7f8","name":"humi_compare","func":"var f_chumi = flow.get('city_humi') || 0;\nvar f_rhumi = flow.get('road_humi') || 0;\n\nvar m_chumi = context.get('m_city_humi') || 0;\nvar m_rhumi = context.get('m_road_humi') || 0;\n\nif ((m_chumi !== 0) && (m_rhumi !== 0)) {\n    var upper = m_chumi * 1.2;\n    var lower = m_chumi * 0.8;\n    if ((m_rhumi >= lower) && (m_rhumi <= upper))\n        msg.payload = 1;  // same with whole city\n    else\n        msg.payload = 2;  // not same with whole city\n    context.set('m_road_humi', 0);\n    flow.set('city_humi', 0);\n    flow.set('road_humi', 0);\n    return msg;\n}\nelse {\n    if (f_chumi !== 0)\n        context.set('m_city_humi', f_chumi);\n    if (f_rhumi !== 0)\n        context.set('m_road_humi', f_rhumi);    \n}\n\n\nflow.set('city_humi', 0);\nflow.set('road_humi', 0);","outputs":1,"noerr":0,"x":1140,"y":1360,"wires":[["f2a6fbad.611358"]]},{"id":"2e5ecd8b.665c02","type":"function","z":"382ef8da.fdc7f8","name":"temp_compare","func":"var f_ctemp = flow.get('city_temp') || 0;\nvar f_rtemp = flow.get('road_temp') || 0;\n\nvar m_ctemp = context.get('m_city_temp') || 0;\nvar m_rtemp = context.get('m_road_temp') || 0;\n\nif ((m_ctemp !== 0) && (m_rtemp !== 0)) {\n    var upper = m_ctemp * 1.2;\n    var lower = m_ctemp * 0.8;\n    if ((m_rtemp >= lower) && (m_rtemp <= upper))\n        msg.payload = 1;  // same with whole city\n    else\n        msg.payload = 2;  // not same with whole city\n    context.set('m_road_temp', 0);\n    flow.set('city_temp', 0);\n    flow.set('road_temp', 0);\n    return msg;\n}\nelse {\n    if (f_ctemp !== 0)\n        context.set('m_city_temp', f_ctemp);\n    if (f_rtemp !== 0)\n        context.set('m_road_temp', f_rtemp);    \n}\n\n\nflow.set('city_temp', 0);\nflow.set('road_temp', 0);","outputs":1,"noerr":0,"x":1140,"y":1320,"wires":[["a51f90a.4b6ba7"]]},{"id":"a51f90a.4b6ba7","type":"function","z":"382ef8da.fdc7f8","name":"temp flag","func":"flow.set('temp_flag', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1320,"wires":[["cd2df127.66d0b"]]},{"id":"f2a6fbad.611358","type":"function","z":"382ef8da.fdc7f8","name":"humi flag","func":"flow.set('humi_flag', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1360,"wires":[["cd2df127.66d0b"]]},{"id":"ac12daaa.1f35b8","type":"function","z":"382ef8da.fdc7f8","name":"press flag","func":"flow.set('pres_flag', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1400,"wires":[["cd2df127.66d0b"]]},{"id":"cd2df127.66d0b","type":"function","z":"382ef8da.fdc7f8","name":"weather","func":"var f_flagT = flow.get('temp_flag') || 0;\nvar f_flagH = flow.get('humi_flag') || 0;\nvar f_flagP = flow.get('pres_flag') || 0;\n\nvar m_flagT = context.get('tempflag') || 0;\nvar m_flagH = context.get('humiflag') || 0;\nvar m_flagP = context.get('presflag') || 0;\n\nif ((m_flagT !== 0) && (m_flagH !== 0) && (m_flagP !== 0)) {\n    var value = m_flagT + m_flagH + m_flagP;\n    if (value <= 4)\n        msg.payload = 1; \n        // normal weather (no more than one parameter unnormal)\n    else\n        msg.payload = 2;\n    context.set('tempflag', 0);\n    context.set('humiflag', 0);\n    context.set('presflag', 0);\n    flow.set('temp_flag', 0);\n    flow.set('humi_flag', 0);\n    flow.set('pres_flag', 0);\n    return msg;\n}\nelse {\n    if (f_flagT !== 0)\n        context.set('tempflag', f_flagT);\n    if (f_flagH !== 0)\n        context.set('humiflag', f_flagH);\n    if (f_flagP !== 0)\n        context.set('presflag', f_flagP);\n}\n\nflow.set('temp_flag', 0);\nflow.set('humi_flag', 0);\nflow.set('pres_flag', 0);","outputs":1,"noerr":0,"x":1500,"y":1380,"wires":[["97d66231.7c3a8","e9dad289.e7bbf","d4c99108.2e749","3c25d283.086e1e"]]},{"id":"29a1f692.14396a","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":6,"width":"3","height":"1","name":"R_temp","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1440,"wires":[]},{"id":"4bf0e75f.ad3458","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":8,"width":"3","height":"1","name":"R_humi","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1480,"wires":[]},{"id":"53ae7e64.ab0ea","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":10,"width":"3","height":"1","name":"R_pres","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1520,"wires":[]},{"id":"b09b5751.dae948","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":5,"width":"3","height":"1","name":"C_temp","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1200,"wires":[]},{"id":"2b1a4f91.3313d","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":7,"width":"3","height":"1","name":"C_humi","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1240,"wires":[]},{"id":"31a98b55.201324","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":9,"width":"3","height":"1","name":"C_pres","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1280,"wires":[]},{"id":"f2b595d0.1a02e8","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":2,"width":"3","height":"1","name":"weather","label":"<font size=4>weather","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1160,"wires":[]},{"id":"d3b6c221.81c36","type":"function","z":"382ef8da.fdc7f8","name":"city_weather","func":"var weather = msg.payload.weather;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1160,"wires":[["f2b595d0.1a02e8"]]},{"id":"88ec6f54.5563b","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":1,"width":"3","height":"1","name":"city","label":"<font size=4>city","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":1120,"wires":[]},{"id":"eebf276b.dc8ff8","type":"function","z":"382ef8da.fdc7f8","name":"location","func":"var location = msg.payload.location;\nmsg.payload = location;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1120,"wires":[["88ec6f54.5563b"]]},{"id":"5fd5ac8.5646754","type":"openweathermap","z":"382ef8da.fdc7f8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":650,"y":1280,"wires":[["6e089533.e2661c","12c98f5.e889e71","799d502d.f937a","d3b6c221.81c36","eebf276b.dc8ff8"]]},{"id":"e17a6614.8f61c8","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":1360,"wires":[["2e5ecd8b.665c02","a0a5ad25.72b32","4bb14866.b5c8a8"]]},{"id":"31e367ab.966e98","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":1320,"y":1440,"wires":[["cd2df127.66d0b"]]},{"id":"e57b6ce7.fc53a","type":"ui_button","z":"382ef8da.fdc7f8","name":"","group":"ad4f76f4.8b66a8","order":8,"width":"2","height":"1","passthru":true,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":910,"y":340,"wires":[["2bd82dc6.73a3c2"]]},{"id":"2bd82dc6.73a3c2","type":"function","z":"382ef8da.fdc7f8","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":340,"wires":[["ea159abf.8c9c68","471849f6.5fd718","3223596.deca8a6","5d5d8a8a.67e804"]]},{"id":"471849f6.5fd718","type":"ui_chart","z":"382ef8da.fdc7f8","name":"","group":"ad4f76f4.8b66a8","order":6,"width":"5","height":"5","label":"speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":420,"wires":[[]]},{"id":"ea159abf.8c9c68","type":"ui_chart","z":"382ef8da.fdc7f8","name":"","group":"ad4f76f4.8b66a8","order":4,"width":"5","height":"5","label":"interval","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":300,"wires":[[]]},{"id":"3223596.deca8a6","type":"ui_chart","z":"382ef8da.fdc7f8","name":"","group":"ad4f76f4.8b66a8","order":5,"width":"5","height":"5","label":"vehicle number","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":340,"wires":[[]]},{"id":"ec55586c.71ecc8","type":"debug","z":"382ef8da.fdc7f8","name":"behaviour","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3580,"y":640,"wires":[]},{"id":"95d3df55.ad062","type":"particle-pub","z":"382ef8da.fdc7f8","pcloud":"","evtname":"congestion","param":"","productIdOrSlug":"","private":true,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":3600,"y":580,"wires":[[]]},{"id":"5d5d8a8a.67e804","type":"ui_chart","z":"382ef8da.fdc7f8","name":"","group":"ad4f76f4.8b66a8","order":7,"width":"5","height":"5","label":"congestion index","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3890,"y":340,"wires":[[]]},{"id":"17d96b64.c09765","type":"debug","z":"382ef8da.fdc7f8","name":"safe interval","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1910,"y":620,"wires":[]},{"id":"dd71f1d4.861ae","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"","payloadType":"date","repeat":"0.001","crontab":"","once":false,"onceDelay":0.1,"x":1520,"y":620,"wires":[["87288c31.b17ba"]]},{"id":"cb772340.d31da","type":"function","z":"382ef8da.fdc7f8","name":"speed","func":"if (msg.payload !== 0)\n    flow.set('SPEED2', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":520,"wires":[["87288c31.b17ba"]]},{"id":"969740bb.6580f","type":"function","z":"382ef8da.fdc7f8","name":"speed","func":"if (msg.payload !== 0)\n    flow.set('SPEED3', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":500,"wires":[["83436417.d08968"]]},{"id":"84437725.53de28","type":"debug","z":"382ef8da.fdc7f8","name":"congestion flag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2320,"y":480,"wires":[]},{"id":"e9dad289.e7bbf","type":"function","z":"382ef8da.fdc7f8","name":"climate","func":"flow.set(\"climate\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":620,"wires":[["aff0d534.8a8338"]]},{"id":"c59f1c03.865ab","type":"ui_numeric","z":"382ef8da.fdc7f8","name":"lane number","label":"lane number","tooltip":"","group":"be09935.f1f3f7","order":5,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"4","step":1,"x":2270,"y":1540,"wires":[["d02e3a9e.6ff6c8","b2267d40.31a6"]]},{"id":"98e15710.723918","type":"function","z":"382ef8da.fdc7f8","name":"resetnumber","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":1540,"wires":[["c59f1c03.865ab"]]},{"id":"1a0b5810.c47158","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"width","label":"width per lane(m)","tooltip":"","group":"be09935.f1f3f7","order":8,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":2290,"y":1600,"wires":[["364ed0d9.76f6"]]},{"id":"d02e3a9e.6ff6c8","type":"function","z":"382ef8da.fdc7f8","name":"Num_Lane","func":"flow.set(\"num_lane\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":1540,"wires":[["b6978278.e38b5"]]},{"id":"34dc41fe.bdb04e","type":"ui_switch","z":"382ef8da.fdc7f8","name":"","label":"","tooltip":"","group":"be09935.f1f3f7","order":9,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1990,"y":1600,"wires":[["e673226f.34438","4907aa95.64ab24"]]},{"id":"e5225003.bb8fd","type":"function","z":"382ef8da.fdc7f8","name":"resetswitch","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":1600,"wires":[["34dc41fe.bdb04e"]]},{"id":"e673226f.34438","type":"function","z":"382ef8da.fdc7f8","name":"activate","func":"msg.enabled = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":1600,"wires":[["1a0b5810.c47158"]]},{"id":"4907aa95.64ab24","type":"function","z":"382ef8da.fdc7f8","name":"default","func":"if (msg.payload === false)\n    msg.payload = 3.75;\nelse\n    msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1640,"wires":[["1a0b5810.c47158"]]},{"id":"c3dd7cd9.8f699","type":"function","z":"382ef8da.fdc7f8","name":"Width_Lane","func":"var width_m = msg.payload;\nvar width_cm = width_m*100/50; //reduce 50 times\nflow.set(\"width_lane\", width_cm);\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":1600,"wires":[["b6978278.e38b5"]]},{"id":"b6978278.e38b5","type":"function","z":"382ef8da.fdc7f8","name":"system set","func":"var f_lane = flow.get(\"num_lane\") || 0;\nvar f_width = flow.get(\"width_lane\") || 0;\n\nvar m_lane = context.get(\"local_lane\") || 0;\nvar m_width = context.get(\"local_width\") || 7.5;\n\nif (m_lane !== 0 && m_width !== 0) {\n    if (msg.topic == \"apply\") {\n        var message = m_lane * 100 + m_width;\n        var newMsg = {payload:message};\n        return newMsg;\n    }\n}\n\nif (f_lane !== 0)\n    context.set(\"local_lane\", f_lane);\nif (f_width !== 0)\n    context.set(\"local_width\", f_width);\n\n\nflow.set(\"num_lane\", 0);\nflow.set(\"width_lane\", 0);","outputs":1,"noerr":0,"x":2750,"y":1540,"wires":[["c16c0a06.ef8cf8","1e6568c7.be43a7"]]},{"id":"3f1da93e.e9d156","type":"inject","z":"382ef8da.fdc7f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1870,"y":1640,"wires":[["34dc41fe.bdb04e"]]},{"id":"364ed0d9.76f6","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toFloat","params":[{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":1600,"wires":[["c3dd7cd9.8f699"]]},{"id":"7e9bca5c.22ef94","type":"inject","z":"382ef8da.fdc7f8","name":"default","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2100,"y":1500,"wires":[["c59f1c03.865ab"]]},{"id":"c16c0a06.ef8cf8","type":"particle-pub","z":"382ef8da.fdc7f8","pcloud":"","evtname":"RoadPara","param":"","productIdOrSlug":"","private":true,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":2960,"y":1540,"wires":[[]]},{"id":"81abb06f.abfc","type":"ui_text","z":"382ef8da.fdc7f8","group":"be09935.f1f3f7","order":2,"width":"3","height":"1","name":"road set","label":"<font color=#0EB4BC size=4.5>Road Set","format":"{{msg.payload}}","layout":"row-spread","x":2260,"y":1500,"wires":[]},{"id":"15462c9e.ede153","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":3,"width":"3","height":"1","name":"city weather","label":"<font color=#0EB4BC size=4.5>City Weather","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1120,"wires":[]},{"id":"84056b46.079068","type":"ui_text","z":"382ef8da.fdc7f8","group":"56c91448.021e4c","order":4,"width":"3","height":"1","name":"road weather","label":"<font color=#0EB4BC size=4.5>Road Weather","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1160,"wires":[]},{"id":"f4355e86.cc2a6","type":"ui_text","z":"382ef8da.fdc7f8","group":"be09935.f1f3f7","order":1,"width":"4","height":"1","name":"peak select","label":"<font color=#0EB4BC size=4.5>Peak Time","format":"{{msg.payload}}","layout":"row-spread","x":1690,"y":1220,"wires":[]},{"id":"b2267d40.31a6","type":"function","z":"382ef8da.fdc7f8","name":"lane_num","func":"flow.set(\"lane_num\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":540,"wires":[["7aa44b19.5e3db4"]]},{"id":"e5553ec3.ece8c","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"D1","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1680,"wires":[]},{"id":"6e08ba95.264734","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"D2","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1720,"wires":[]},{"id":"1c4f6a11.e0bbd6","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"D3","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1760,"wires":[]},{"id":"3fbc4e9c.b79222","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"D4","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1800,"wires":[]},{"id":"94ba416e.fe2de","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"D5","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1840,"wires":[]},{"id":"6cd59590.3aca1c","type":"ui_text","z":"382ef8da.fdc7f8","group":"c9a6f69b.608808","order":1,"width":"2","height":"1","name":"","label":"S","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":1880,"wires":[]},{"id":"7edc223.410cbdc","type":"ui_button","z":"382ef8da.fdc7f8","name":"","group":"c9a6f69b.608808","order":6,"width":"2","height":"1","passthru":false,"label":"check","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"check","x":690,"y":2020,"wires":[["26ad1fa2.056fb","82821fa6.da739"]]},{"id":"e5c6783d.453c38","type":"particle-pub","z":"382ef8da.fdc7f8","pcloud":"","evtname":"check","param":"2","productIdOrSlug":"","private":true,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":1070,"y":2020,"wires":[[]]},{"id":"5252564b.877218","type":"inject","z":"382ef8da.fdc7f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":870,"y":1620,"wires":[["e5553ec3.ece8c","6e08ba95.264734","1c4f6a11.e0bbd6","3fbc4e9c.b79222","94ba416e.fe2de","6cd59590.3aca1c"]]},{"id":"6b40f47d.17c0ac","type":"function","z":"382ef8da.fdc7f8","name":"possible_reduce","func":"var f_past = flow.get(\"road_flag\") || 99;\nvar f_peak = flow.get(\"peak_p\") || 0;\nvar f_wea = flow.get(\"wea_flag\") || 0;\nvar f_check = flow.get(\"check_flag\") || 0;\n\nvar m_past = context.get(\"behavior\") || 0;\nvar m_peak = context.get(\"local_peak\") || 0;\nvar flag = context.get(\"Flag\") || 0;\nvar wea = context.get(\"WEA\") || 0;\nvar m_check = context.get(\"check\") || 0;\n\nif (f_past !== 99) {\n    var road = Math.floor(f_past / 10);\n    context.set(\"behavior\", road);\n    context.set(\"Flag\", 1);\n}\nif (f_peak !== 0)\n    context.set(\"local_peak\", f_peak);\nif (f_wea !== 0)\n    context.set(\"WEA\", f_wea);\nif (f_check !== 0)\n    context.set(\"check\", f_check);\nif (msg.topic == \"reset\") {\n    context.set(\"WEA\", 0);\n    context.set(\"local_peak\", 0);\n}\nif ((msg.topic == \"cycle\") && (m_peak !== 0) && (wea !== 0)) {\n    var road_signal = 0;\n    var climate_signal = wea;\n    if (flag === 1) {\n        road_signal = m_past;\n        context.set(\"Flag\", 0);\n    }\n    else {\n        if (m_past == 5) {\n            if ((m_check === 0) && (m_check == 1)) // still congested\n                road_signal = m_past;\n            else { // smooth\n                if (m_peak == 2)\n                    road_signal = 4;\n                else\n                    road_signal = 3;\n            }\n            if (m_check !== 0)\n                context.set(\"check\", 0);\n        }\n        else if (m_past == 4)\n            road_signal = 2;\n        else if (m_past == 3)\n            road_signal = 1;\n        else \n            road_signal = 0;\n    }\n    context.set(\"behavior\", road_signal);\n    var feedback = road_signal * 10 + climate_signal;\n    var newMsg = {payload : feedback};\n    return newMsg;\n}\n\nflow.set(\"check_flag\", 0);\nflow.set(\"road_flag\", 0);\nflow.set(\"peak_p\", 0);\nflow.set(\"wea_flag\", 0);","outputs":1,"noerr":0,"x":3360,"y":580,"wires":[["95d3df55.ad062","ec55586c.71ecc8","65c72079.e10a","8aedb2ff.fdf0e"]]},{"id":"148cc68d.e68689","type":"function","z":"382ef8da.fdc7f8","name":"peak","func":"flow.set(\"peak_p\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":3110,"y":700,"wires":[["6b40f47d.17c0ac"]]},{"id":"37c1b631.745ffa","type":"function","z":"382ef8da.fdc7f8","name":"road_flag","func":"flow.set('road_flag', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2800,"y":580,"wires":[["1838948b.19f49b","6b40f47d.17c0ac"]]},{"id":"1838948b.19f49b","type":"debug","z":"382ef8da.fdc7f8","name":"road flag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2940,"y":620,"wires":[]},{"id":"2b5f8bc3.df5954","type":"debug","z":"382ef8da.fdc7f8","name":"speed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":460,"wires":[]},{"id":"13c8d222.53424e","type":"inject","z":"382ef8da.fdc7f8","name":"cycle(10s)","topic":"cycle","payload":"0","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":3130,"y":620,"wires":[["6b40f47d.17c0ac"]]},{"id":"d4c99108.2e749","type":"function","z":"382ef8da.fdc7f8","name":"wea_flag","func":"flow.set(\"wea_flag\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3100,"y":660,"wires":[["6b40f47d.17c0ac"]]},{"id":"65c72079.e10a","type":"function","z":"382ef8da.fdc7f8","name":"congestion possible","func":"var temp = Math.floor(msg.payload / 10);\nvar index = temp / 5;\nmsg.payload = index;\nreturn msg;","outputs":1,"noerr":0,"x":3610,"y":520,"wires":[["5d5d8a8a.67e804","c04071ad.10413","a3cfcc4.468df3"]]},{"id":"c04071ad.10413","type":"debug","z":"382ef8da.fdc7f8","name":"index","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3850,"y":520,"wires":[]},{"id":"9a273476.909588","type":"function","z":"382ef8da.fdc7f8","name":"signalcheck","func":"var signal = msg.payload.data;\nvar D1 = signal % 10;\nvar D2 = Math.floor(signal / 10) % 10;\nvar D3 = Math.floor(signal / 100) % 10;\nvar D4 = Math.floor(signal / 1000) % 10;\nvar D5 = Math.floor(signal / 10000) % 10;\nvar S = Math.floor(signal / 100000);\nvar msg_D1 = {payload : D1};\nvar msg_D2 = {payload : D2};\nvar msg_D3 = {payload : D3};\nvar msg_D4 = {payload : D4};\nvar msg_D5 = {payload : D5};\nvar msg_S = {payload : S};\nreturn [msg_D1, msg_D2, msg_D3, msg_D4, msg_D5, msg_S];","outputs":6,"noerr":0,"x":810,"y":1780,"wires":[["e5553ec3.ece8c"],["6e08ba95.264734"],["1c4f6a11.e0bbd6"],["3fbc4e9c.b79222"],["94ba416e.fe2de"],["6cd59590.3aca1c"]]},{"id":"84f43f38.0f723","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"Signal","strict":0,"x":530,"y":1780,"wires":[["9a273476.909588","ae484530.0ab778","e433c8f6.782508"]]},{"id":"8aedb2ff.fdf0e","type":"function","z":"382ef8da.fdc7f8","name":"doublecheck","func":"var signal = msg.payload;\nvar flag = context.get(\"Flag\") || 0;\n\nif (flag === 0) {\n    if ((signal == 51) || (signal == 52))\n        context.set(\"Flag\", 1);\n}\nelse {\n    if ((signal != 51) && (signal != 52))\n        context.set(\"Flag\", 0);\n    else {\n        var newMsg = {payload: 1};\n        return newMsg;\n    }\n}","outputs":1,"noerr":0,"x":3590,"y":740,"wires":[["27939e1c.cc0322"]]},{"id":"27939e1c.cc0322","type":"particle-pub","z":"382ef8da.fdc7f8","pcloud":"","evtname":"check","param":"","productIdOrSlug":"","private":true,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":3770,"y":740,"wires":[[]]},{"id":"bd1510b6.97e9d","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"doublecheck","strict":0,"x":2930,"y":420,"wires":[["37097b68.2348a4"]]},{"id":"37097b68.2348a4","type":"function","z":"382ef8da.fdc7f8","name":"check_flag","func":"flow.set(\"check_flag\", msg.payload.data);\nmsg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":420,"wires":[["6b40f47d.17c0ac"]]},{"id":"26ad1fa2.056fb","type":"function","z":"382ef8da.fdc7f8","name":"checkflag","func":"var NewMsg = {payload : 2};\nreturn NewMsg;","outputs":1,"noerr":0,"x":860,"y":2020,"wires":[["e5c6783d.453c38"]]},{"id":"730f242b.3a84dc","type":"ui_button","z":"382ef8da.fdc7f8","name":"","group":"3fbca4d.e73385c","order":7,"width":"2","height":"1","passthru":true,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"clear","x":690,"y":860,"wires":[["743ebc81.8f3c24","2accda1a.14bc66","eee5658c.589098","d519e022.8b615","e1a6fbb4.d320a8"]]},{"id":"311e532c.1bdfac","type":"particle-pub","z":"382ef8da.fdc7f8","pcloud":"","evtname":"ParameterReset","param":"","productIdOrSlug":"","private":true,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":2100,"y":1700,"wires":[[]]},{"id":"ceadd021.4f1b1","type":"function","z":"382ef8da.fdc7f8","name":"parameter reset","func":"var msg_send = {payload : msg.payload};\nreturn msg_send;","outputs":1,"noerr":0,"x":1860,"y":1700,"wires":[["311e532c.1bdfac"]]},{"id":"1c88b554.76e2eb","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"","label":"city","tooltip":"","group":"be09935.f1f3f7","order":15,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"city","x":330,"y":1380,"wires":[["38768411.85214c"]]},{"id":"2ca0e2b6.a3978e","type":"ui_text_input","z":"382ef8da.fdc7f8","name":"","label":"country","tooltip":"","group":"be09935.f1f3f7","order":16,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"country","x":340,"y":1420,"wires":[["38768411.85214c"]]},{"id":"38768411.85214c","type":"function","z":"382ef8da.fdc7f8","name":"city set ","func":"if (msg.topic == 'city')\n    context.set('City', msg.payload);\nif (msg.topic == 'country')\n    context.set('Coun', msg.payload);\n\nvar m_city = context.get(\"City\") || '';\nvar m_coun = context.get(\"Coun\") || '';\n\nif (m_city !== '' && m_coun !== '' && msg.topic == 'apply') {\n    var newMsg = {};\n    newMsg.location = {\n        city: m_city,\n        country: m_coun\n    }\n    context.set('m_city', '');\n    context.set('m_coun', '');\n    return newMsg;\n}","outputs":1,"noerr":0,"x":320,"y":1280,"wires":[["c4ca55cb.c95328"]]},{"id":"c4ca55cb.c95328","type":"function","z":"382ef8da.fdc7f8","name":"city store","func":"var info = context.get('INFO') || '';\nif (msg.topic !== 'cycle')\n    context.set('INFO', msg.location);\nif (msg.topic == 'cycle' && info !== '') {\n    msg.location = info;\n    return msg;\n}","outputs":1,"noerr":0,"x":480,"y":1280,"wires":[["5fd5ac8.5646754"]]},{"id":"57f74d29.4b5874","type":"ui_text","z":"382ef8da.fdc7f8","group":"be09935.f1f3f7","order":12,"width":"4","height":"1","name":"city set","label":"<font color=#0EB4BC size=4.5>City Set","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":1460,"wires":[]},{"id":"8009170b.3a2528","type":"function","z":"382ef8da.fdc7f8","name":"city reset","func":"// var newMsg = {};\n// newMsg.location = {\n//     city: 'London',\n//     country: 'UK'\n// }\n// return newMsg;\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1520,"wires":[["c4ca55cb.c95328","35ba5f2b.6f7af","1c88b554.76e2eb","2ca0e2b6.a3978e"]]},{"id":"35ba5f2b.6f7af","type":"function","z":"382ef8da.fdc7f8","name":"data reset","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1200,"wires":[["88ec6f54.5563b","b09b5751.dae948","2b1a4f91.3313d","31a98b55.201324","29a1f692.14396a","4bf0e75f.ad3458","53ae7e64.ab0ea","f2b595d0.1a02e8"]]},{"id":"ad7e7ebe.b3fc6","type":"function","z":"382ef8da.fdc7f8","name":"climate","func":"var D = msg.payload;\nvar M = ['','',''];\nvar j = 0;\nfor(var i = 0; i < D.length; i++){\n    if(D[i]!='|')\n        M[j] += D[i];\n    else\n        j++;\n}\nvar msg_temp = {payload: M[0]};\nvar msg_humi = {payload: M[1]};\nvar msg_pres = {payload: M[2]};\nreturn [msg_temp, msg_humi, msg_pres];","outputs":3,"noerr":0,"x":660,"y":1560,"wires":[["908a399b.8ed948"],["13013225.ef750e"],["19c7905.2cca77"]]},{"id":"47b34301.4c0bfc","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload.data","propout":"payload","object":"msg","objectout":"msg","x":510,"y":1560,"wires":[["ad7e7ebe.b3fc6"]]},{"id":"847228e3.bf43d8","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"ROAD","strict":0,"x":190,"y":500,"wires":[["5b103e1d.3d1de"]]},{"id":"d12e2b71.50e8b8","type":"function","z":"382ef8da.fdc7f8","name":"road","func":"var D = msg.payload;\nvar M = ['','',''];\nvar j = 0;\nfor(var i = 0; i < D.length; i++){\n    if(D[i]!='|')\n        M[j] += D[i];\n    else\n        j++;\n}\nvar msg_inter = {payload: M[0]};\nvar msg_speed = {payload: M[1]};\nvar msg_num = {payload: M[2]};\nreturn [msg_inter, msg_speed, msg_num];","outputs":3,"noerr":0,"x":510,"y":500,"wires":[["17fc83fc.84426c"],["1bd24fcd.8b184"],["e282ef16.ec12"]]},{"id":"5b103e1d.3d1de","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload.data","propout":"payload","object":"msg","objectout":"msg","x":390,"y":500,"wires":[["d12e2b71.50e8b8"]]},{"id":"1e6568c7.be43a7","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2920,"y":1480,"wires":[]},{"id":"1bd24fcd.8b184","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toFloat","params":[{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":630,"y":500,"wires":[["e4e2fd98.ca7f8"]]},{"id":"17fc83fc.84426c","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toFloat","params":[{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":280,"wires":[["3019ecb9.5b62e4"]]},{"id":"9c2ff706.982a38","type":"inject","z":"382ef8da.fdc7f8","name":"blink cycle","topic":"blink","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":2330,"y":380,"wires":[["18e6823b.8329be"]]},{"id":"99877fee.2f91e","type":"ui_button","z":"382ef8da.fdc7f8","name":"Indicator","group":"ad4f76f4.8b66a8","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"warning","payload":"","payloadType":"str","topic":"","x":2640,"y":380,"wires":[[]]},{"id":"18e6823b.8329be","type":"function","z":"382ef8da.fdc7f8","name":"Indicator","func":"var flag = context.get(\"Flag\") || 0;\nvar MES = context.get(\"signal\") || 0;\nif (msg.topic == \"reset\") {\n    msg.colour = \"#23d13a\";\n    context.set(\"signal\", 0);\n    return msg;\n}\nelse if (msg.topic != \"blink\")\n    context.set(\"signal\", msg.payload);\nelse {\n    if (MES == 3) {\n        if (flag === 0) {\n            msg.colour = \"#FFCC66\";\n            context.set(\"Flag\", 1);\n        }\n        else {\n            msg.colour = \"#FFFFFF\";\n            context.set(\"Flag\", 0);\n        }\n    }\n    else if (MES == 2)  //congestion, red\n        msg.colour = \"#e83c0c\";\n    else  //smooth, green\n        msg.colour = \"#23d13a\";\n    return msg;\n}","outputs":1,"noerr":0,"x":2490,"y":380,"wires":[["99877fee.2f91e"]]},{"id":"f99e69cf.dfcd78","type":"ui_text","z":"382ef8da.fdc7f8","group":"ad4f76f4.8b66a8","order":1,"width":"6","height":"1","name":"road behaviour title","label":"<font color=#0EB4BC size=4.5>Road Behaviour","format":"{{msg.payload}}","layout":"row-spread","x":2330,"y":320,"wires":[]},{"id":"4d315c69.ee6054","type":"ui_text","z":"382ef8da.fdc7f8","group":"ad4f76f4.8b66a8","order":2,"width":"3","height":"1","name":"Indicator light","label":"<font color=#0EB4BC size=4.5>Indicator Light","format":"{{msg.payload}}","layout":"row-spread","x":2520,"y":320,"wires":[]},{"id":"264165e6.57ceda","type":"ui_switch","z":"382ef8da.fdc7f8","name":"","label":"","tooltip":"","group":"be09935.f1f3f7","order":3,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"check_circle","offcolor":"lime","x":3010,"y":1620,"wires":[[]]},{"id":"5d017f09.1510c","type":"function","z":"382ef8da.fdc7f8","name":"set indicator","func":"var device = flow.get(\"set_device\") || 0;\nvar weather = flow.get(\"set_weather\") || 0;\nvar peak = flow.get(\"set_peak\") || 0;\nvar d_flag = context.get(\"d_Flag\") || 0;\nvar w_flag = context.get(\"w_Flag\") || 0;\nvar p_flag = context.get(\"p_Flag\") || 0;\nvar count = context.get(\"NUM\") || 0;\n\nif (device !== 0)\n    context.set(\"d_Flag\", 1);\nif (weather !== 0)\n    context.set(\"w_Flag\", 1);\nif (peak !== 0)\n    context.set(\"p_Flag\", 1);\n\nvar output_flag = false;\nif (msg.topic == \"apply\") { \n    msg.payload = 1; //true\n    output_flag = true;\n    context.set(\"NUM\", 1); \n}\nelse if (msg.topic == \"reset\") {\n    msg.payload = 2;\n    output_flag = true;\n    context.set(\"NUM\", 0);\n}\nelse if (count !== 0) {\n    var i = count + 1;\n    context.set(\"NUM\", i);\n}\n\nif ((d_flag !== 0) && (w_flag !== 0) &&(p_flag !== 0)) {\n    msg.payload = 0; //ok, false\n    output_flag = true;\n    context.set(\"NUM\", 0);\n}\nelse if (count == 30) {\n    output_flag = true;\n    context.set(\"NUM\", 0);\n    if ((d_flag === 0) && (w_flag !== 0) &&(p_flag !== 0))\n        msg.payload = 3;\n    else if ((d_flag !== 0) && (w_flag === 0) &&(p_flag !== 0))\n        msg.payload = 4;\n    else if ((d_flag !== 0) && (w_flag !== 0) &&(p_flag === 0))\n        msg.payload = 5;\n    else if ((d_flag === 0) && (w_flag === 0) &&(p_flag !== 0))\n        msg.payload = 6;\n    else if ((d_flag === 0) && (w_flag !== 0) &&(p_flag === 0))\n        msg.payload = 7;\n    else if ((d_flag !== 0) && (w_flag === 0) &&(p_flag === 0))\n        msg.payload = 8;\n    else if ((d_flag === 0) && (w_flag === 0) &&(p_flag === 0))\n        msg.payload = 9;\n}\n\nif (output_flag === true) {\n    // context.set(\"NUM\", 0);\n    context.set(\"d_Flag\", 0);\n    context.set(\"w_Flag\", 0);\n    context.set(\"p_Flag\", 0);\n    return msg;\n}\n\nflow.set(\"set_device\", 0);\nflow.set(\"set_weather\", 0);\nflow.set(\"set_peak\", 0);\n","outputs":1,"noerr":0,"x":2550,"y":1760,"wires":[["cb9785eb.136018"]]},{"id":"a1edc007.8934d","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGW","devid":"","evtname":"SetOkGW","strict":0,"x":1860,"y":1740,"wires":[["f6357c92.241db"]]},{"id":"8968b7aa.74edf8","type":"particle-SSE","z":"382ef8da.fdc7f8","pcloud":"","subscribetype":"devid","devprodslug":"meshGWSub","devid":"","evtname":"SetOkGWsub","strict":0,"x":1840,"y":1780,"wires":[["b9f2ffde.e0c2c"]]},{"id":"b9f2ffde.e0c2c","type":"function","z":"382ef8da.fdc7f8","name":"okSub","func":"msg.payload = msg.payload.data;\nflow.set(\"setGWSub\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":1780,"wires":[["d12de23.d67612"]]},{"id":"f6357c92.241db","type":"function","z":"382ef8da.fdc7f8","name":"okGW","func":"msg.payload = msg.payload.data;\nflow.set(\"setGW\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":1740,"wires":[["d12de23.d67612"]]},{"id":"d12de23.d67612","type":"function","z":"382ef8da.fdc7f8","name":"SetOk","func":"var GW = flow.get(\"setGW\") || 0;\nvar Sub = flow.get(\"setGWSub\") || 0;\nvar flag = context.get(\"Flag\") || 0;\n\nif (flag == 2) {\n    msg.payload = flag;\n    context.set(\"Flag\", 0);\n    return msg;\n}\nelse {\n    if (GW !== 0)\n        ++flag;\n    if (Sub !== 0)\n        ++flag;\n    context.set(\"Flag\", flag);\n}\n\nflow.set(\"setGW\", 0);\nflow.set(\"setGWSub\", 0);","outputs":1,"noerr":0,"x":2190,"y":1760,"wires":[["cc6dc6d.3dcd038"]]},{"id":"a3cfcc4.468df3","type":"function","z":"382ef8da.fdc7f8","name":"para","func":"var index = msg.payload;\nif (index === 0)\n    msg.payload = 1;\nelse if (index == 1)\n    msg.payload = 2;\nelse\n    msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"x":3850,"y":480,"wires":[["18e6823b.8329be","be553f71.0f804"]]},{"id":"b517fdbb.83ed8","type":"inject","z":"382ef8da.fdc7f8","name":"","topic":"shine","payload":"99","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1960,"wires":[["82821fa6.da739"]]},{"id":"82821fa6.da739","type":"function","z":"382ef8da.fdc7f8","name":"blink","func":"var state = context.get(\"blink\") || 0;\nvar checking = context.get(\"cycle\") || 0;\n\nif (msg.topic == \"reset\") {\n    msg.payload = true;\n    context.set(\"cycle\", 0);\n    return msg;\n}\nif (msg.topic == \"check\")\n    context.set(\"cycle\", 1);\nelse if (msg.topic != \"shine\") {\n    if (msg.payload === true)\n        context.set(\"cycle\", 0);\n    else\n        context.set(\"cycle\", 2);\n}\n\nif (msg.topic == \"shine\") {\n    if (checking == 1) {\n        if (state === 0) {\n            msg.payload = true;\n            context.set(\"blink\", 1);\n        }\n        else {\n            msg.payload = false;\n            context.set(\"blink\", 0);\n        }\n    }\n    else if (checking === 0) \n        msg.payload = true;\n    else if (checking == 2)\n        msg.payload = false;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":870,"y":1960,"wires":[["be5c4bd2.dd5908"]]},{"id":"d8e2a895.ab96d8","type":"function","z":"382ef8da.fdc7f8","name":"signal","func":"var mes = msg.payload;\nif (mes === 0)\n    msg.payload = true;\nelse\n    msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1900,"wires":[["82821fa6.da739"]]},{"id":"ae484530.0ab778","type":"string","z":"382ef8da.fdc7f8","name":"","methods":[{"name":"toInteger","params":[]}],"prop":"payload.data","propout":"payload","object":"msg","objectout":"msg","x":610,"y":1900,"wires":[["d8e2a895.ab96d8"]]},{"id":"dcd97ba6.1d4d98","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"0","payloadType":"num","repeat":"0.001","crontab":"","once":true,"onceDelay":0.1,"x":3120,"y":540,"wires":[["6b40f47d.17c0ac"]]},{"id":"33269fba.85266","type":"debug","z":"382ef8da.fdc7f8","name":"weather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1800,"y":900,"wires":[]},{"id":"417617c1.cadd58","type":"debug","z":"382ef8da.fdc7f8","name":"time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3190,"y":1400,"wires":[]},{"id":"659800a3.0b9e5","type":"ui_toast","z":"382ef8da.fdc7f8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":3030,"y":1800,"wires":[[]]},{"id":"3c25d283.086e1e","type":"function","z":"382ef8da.fdc7f8","name":"set_weather","func":"flow.set(\"set_weather\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":1800,"wires":[["5d017f09.1510c"]]},{"id":"175a4425.c09a2c","type":"function","z":"382ef8da.fdc7f8","name":"set_peak","func":"flow.set(\"set_peak\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":1720,"wires":[["5d017f09.1510c"]]},{"id":"cc6dc6d.3dcd038","type":"function","z":"382ef8da.fdc7f8","name":"set_device","func":"flow.set(\"set_device\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":1760,"wires":[["5d017f09.1510c"]]},{"id":"d05db8d4.9af9f8","type":"inject","z":"382ef8da.fdc7f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2350,"y":1840,"wires":[["5d017f09.1510c"]]},{"id":"cb9785eb.136018","type":"switch","z":"382ef8da.fdc7f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":2690,"y":1760,"wires":[["39c5a063.7199f"],["8ca80d7d.8c56c"],["934fa410.44af08","8ca80d7d.8c56c"],["ae4f7b63.a36c08","8ca80d7d.8c56c"],["ca02fdee.3a755","8ca80d7d.8c56c"],["203bec89.cc7434","8ca80d7d.8c56c"],["4d55a14f.8c34d","8ca80d7d.8c56c"],["15a64af2.7abcd5","8ca80d7d.8c56c"],["44a64fcb.c3c3c","8ca80d7d.8c56c"],["23cc59e9.ce5cd6","8ca80d7d.8c56c"]]},{"id":"39c5a063.7199f","type":"function","z":"382ef8da.fdc7f8","name":"msg1","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1600,"wires":[["264165e6.57ceda"]]},{"id":"8ca80d7d.8c56c","type":"function","z":"382ef8da.fdc7f8","name":"msg2","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1640,"wires":[["264165e6.57ceda"]]},{"id":"934fa410.44af08","type":"function","z":"382ef8da.fdc7f8","name":"msg3","func":"msg.payload = \"Device settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1680,"wires":[["659800a3.0b9e5"]]},{"id":"ae4f7b63.a36c08","type":"function","z":"382ef8da.fdc7f8","name":"msg4","func":"msg.payload = \"Climate settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2852.5556640625,"y":1721.3333740234375,"wires":[["659800a3.0b9e5"]]},{"id":"ca02fdee.3a755","type":"function","z":"382ef8da.fdc7f8","name":"msg5","func":"msg.payload = \"Peak time settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1760,"wires":[["659800a3.0b9e5"]]},{"id":"203bec89.cc7434","type":"function","z":"382ef8da.fdc7f8","name":"msg6","func":"msg.payload = \"Device and climate settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1800,"wires":[["659800a3.0b9e5"]]},{"id":"4d55a14f.8c34d","type":"function","z":"382ef8da.fdc7f8","name":"msg7","func":"msg.payload = \"Device and peak time settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2847.5556640625,"y":1837.3333740234375,"wires":[["659800a3.0b9e5"]]},{"id":"15a64af2.7abcd5","type":"function","z":"382ef8da.fdc7f8","name":"msg8","func":"msg.payload = \"Climate and peak time settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1880,"wires":[["659800a3.0b9e5"]]},{"id":"44a64fcb.c3c3c","type":"function","z":"382ef8da.fdc7f8","name":"msg9","func":"msg.payload = \"Device, climate and peak time settings are unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1920,"wires":[["659800a3.0b9e5"]]},{"id":"23cc59e9.ce5cd6","type":"function","z":"382ef8da.fdc7f8","name":"msg0","func":"msg.payload = \"Settings are successful\";\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":1960,"wires":[["659800a3.0b9e5"]]},{"id":"be553f71.0f804","type":"debug","z":"382ef8da.fdc7f8","name":"para","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3990,"y":480,"wires":[]},{"id":"a30a34fd.85c898","type":"inject","z":"382ef8da.fdc7f8","name":"impulse","topic":"","payload":"0","payloadType":"num","repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"x":2060,"y":1820,"wires":[["d12de23.d67612"]]},{"id":"1ca77fff.7de48","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"ca458d79.245c9","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"dee64e10.2ac95","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"c7cfc5a7.104988","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"e433c8f6.782508","type":"debug","z":"382ef8da.fdc7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","targetType":"msg","x":830,"y":1700,"wires":[]},{"id":"be5c4bd2.dd5908","type":"ui_switch","z":"382ef8da.fdc7f8","name":"indicator","label":"","tooltip":"","group":"c9a6f69b.608808","order":3,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"favorite","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"favorite","offcolor":"red","x":1060,"y":1960,"wires":[[]]},{"id":"3fbca4d.e73385c","type":"ui_group","z":"","name":"vehicle number count (clear per hour)","tab":"abb44cfd.c0eda","order":4,"disp":true,"width":"6","collapse":false},{"id":"be09935.f1f3f7","type":"ui_group","z":"","name":"Parameter Set","tab":"abb44cfd.c0eda","order":1,"disp":false,"width":"8","collapse":false},{"id":"56c91448.021e4c","type":"ui_group","z":"","name":"Climate Condition","tab":"abb44cfd.c0eda","order":3,"disp":false,"width":"6","collapse":false},{"id":"ad4f76f4.8b66a8","type":"ui_group","z":"","name":"Road Behaviour","tab":"abb44cfd.c0eda","order":2,"disp":false,"width":"10","collapse":false},{"id":"c9a6f69b.608808","type":"ui_group","z":"","name":"Sensor Check","tab":"abb44cfd.c0eda","order":5,"disp":true,"width":"8","collapse":true},{"id":"abb44cfd.c0eda","type":"ui_tab","z":"","name":"FRANK","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
